# Name: Mosaic_Plugin
# Author: Mosaic Group, ETH Zurich
# Version: 
# Date: 2010/11/26
# Requires: ImageJ 


# Released
Plugins>Mosaic, "Particle Tracker 2D/3D", mosaic.plugins.ParticleTracker3DModular_("run")
Plugins>Mosaic, "PSF Tool 2D", mosaic.plugins.PSF_Tool("run")
Plugins>Mosaic, "PSF Tool 3D (beta)", mosaic.plugins.PSF_estimator_3D("run")
Plugins>Mosaic, "Background Subtractor", mosaic.plugins.BackgroundSubtractor2_("run")
Plugins>Mosaic, "Insert Poisson noise", mosaic.plugins.Poisson_Noise("run")
Plugins>Mosaic, "Convolve with 2D Bessel function", mosaic.plugins.BesselPSF_Convolver("run")

# To release
#Plugins>Mosaic, "Generate PSF from measure", mosaic.plugins.Generate_PSF("run")
#Plugins>Mosaic, "Region Competition", mosaic.plugins.Region_Competition("run")
#Plugins>Mosaic, "Visual Parameter Optimization", mosaic.paramopt.Visual_Parameter_Optimization("run")

# Internal
#Plugins>Mosaic, "Feature Point Tracker 3D",mosaic.plugins.FPTracker_3D("run")
#Plugins>Mosaic, "MT and SPB Tracker", mosaic.plugins.MTandSPBsTracker_3D("run")
#Plugins>Mosaic, "Exit ImageJ",mosaic.plugins.Exit_ImageJ("run")
#Plugins>Mosaic, "Kotas modified ParticleTracker", mosaic.plugins.ParticleTrackerKota_("run")
#Plugins>Mosaic, "Patching", mosaic.plugins.Patching_("run")
