

Plugins>Mosaic, "VMF",mosaic.plugins.VariationalModelFilter("run")
Plugins>Mosaic>Segmentation, "Region Competition", mosaic.plugins.Region_Competition("run")
Plugins>Mosaic>Segmentation, "Squassh", mosaic.plugins.BregmanGLM_Batch("run")
Plugins>Mosaic, "Interaction Analysis", mosaic.plugins.IAPMosaic_("run")
Plugins>Mosaic, "Particle Tracker 2D/3D", mosaic.plugins.ParticleTracker3DModular_("run")
Plugins>Mosaic>Utility, "Spot detection", mosaic.plugins.Spot_detection("run")
Plugins>Mosaic>Utility, "PSF Tool 2D", mosaic.plugins.PSF_Tool("run")
Plugins>Mosaic>Utility, "PSF Tool 3D (beta)",mosaic.plugins.PSF_estimator_3D("run")
Plugins>Mosaic>Utility, "Background Subtractor",mosaic.plugins.BackgroundSubtractor2_("run")
Plugins>Mosaic>Utility, "Insert Poisson noise", mosaic.plugins.Poisson_Noise("run")
Plugins>Mosaic>Utility, "Convolve with 2D Bessel function", mosaic.plugins.BesselPSF_Convolver("run")
Plugins>Mosaic>Utility, "Region creator", mosaic.plugins.RegionCreator("run")
Plugins>Mosaic>Utility, "Color substitution", mosaic.plugins.ColorSubstitution("run")
Plugins>Mosaic>Utility, "ToolSuite test", mosaic.plugins.Jtest("run")
Plugins>Mosaic>Enhancement, "Naturalization",mosaic.plugins.Naturalization("run")
#Plugins>Mosaic>Utility, "Debug", mosaic.plugins.Debug("run")
#Plugins>Mosaic>Utility, "Debug2", mosaic.plugins.Debug2("run")
Plugins>Mosaic>Utility>Cluster, "Merge jobs", mosaic.plugins.MergeJobs("run")
Plugins>Mosaic>Utility>Cluster, "New cluster profile", mosaic.plugins.NewClusterProfile("run")

Help>About Plugins, "About Interaction Analysis Plugin", mosaic.interaction.InteractionPlugin("about")
#Plugins>Mosaic, "Chromatic Aberration Correction", mosaic.interaction.ChromaticAberration("run")
Help>About Plugins, "About Chromatic Aberration Plugin", mosaic.interaction.ChromaticAberration("about")
#Plugins>Mosaic, "CalibriScala", mosaic.calibration.CalibriScala_("run")
#Plugins>Mosaic, "Calibration", mosaic.plugins.Calibration_("run")
#Plugins>Mosaic, "3D Tracker", mosaic.plugins.ParticleTracker3DModular_("run")
#Plugins>JACOB, "Jacob", _JACoP.JACoP_("run")


