Plugins>Mosaic>Enhancement, "Naturalization", mosaic.plugins.Naturalization("run")
Plugins>Mosaic>Enhancement, "Inpainting", mosaic.plugins.Inpainting("run")
Plugins>Mosaic>Enhancement, "Super Resolution", mosaic.plugins.SuperResolution("run")

Plugins>Mosaic>Filters, "Curvature Filters 2D", mosaic.plugins.VariationalCurvatureFilter("run")
Plugins>Mosaic>Filters, "Gausian Curvature 3D", mosaic.plugins.GaussianCuvature3D("run")
Plugins>Mosaic>Filters, "Sobel Filter", mosaic.plugins.SobelFilter("run")
Plugins>Mosaic>Filters, "Laplace Filter", mosaic.plugins.LaplaceFilter("run")

Plugins>Mosaic>Segmentation, "Region Competition", mosaic.plugins.Region_Competition("run")
Plugins>Mosaic>Segmentation, "Squassh", mosaic.plugins.BregmanGLM_Batch("run")
Plugins>Mosaic>Segmentation, "Filament", mosaic.plugins.FilamentSegmentation("run")

Plugins>Mosaic>Utility, "Spot detection", mosaic.plugins.Spot_detection("run")
Plugins>Mosaic>Utility, "PSF Tool 2D", mosaic.plugins.PSF_Tool("run")
Plugins>Mosaic>Utility, "PSF Tool 3D (beta)", mosaic.plugins.PSF_estimator_3D("run")
Plugins>Mosaic>Utility, "Background Subtractor", mosaic.plugins.BackgroundSubtractor2_("run")
Plugins>Mosaic>Utility, "Insert Poisson noise", mosaic.plugins.Poisson_Noise("run")
Plugins>Mosaic>Utility, "Convolve with 2D Bessel function", mosaic.plugins.BesselPSF_Convolver("run")
Plugins>Mosaic>Utility, "Region creator", mosaic.plugins.RegionCreator("run")
Plugins>Mosaic>Utility, "Color substitution", mosaic.plugins.ColorSubstitution("run")
Plugins>Mosaic>Utility, "Stack Overlay", mosaic.plugins.JythonLauncher("/src/mosaic/plugins/scripts/Stack_Overlay.py")
Plugins>Mosaic>Utility, "ToolSuite test", mosaic.plugins.Jtest("run")

Plugins>Mosaic>Utility>Cluster, "Merge jobs", mosaic.plugins.MergeJobs("run")
Plugins>Mosaic>Utility>Cluster, "New cluster profile", mosaic.plugins.NewClusterProfile("run")

Plugins>Mosaic, "Particle Tracker 2D/3D", mosaic.plugins.ParticleTracker3DModular_("run")
Plugins>Mosaic, "Interaction Analysis", mosaic.plugins.IAPMosaic_("run")

